# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

FATSECRET_CLIENT_ID="1234567890"
FATSECRET_CLIENT_SECRET="1234567890"
OPENAI_API_KEY="1234567890"
